.container.bg-white.border.my-5
  .row.mt-4
    .col-12
      %h3.text-center.text-dark.text-uppercase
        %strong Edit Cosplay
  .row.mt-3
    .col-md-12
      = render 'form', costume: @costume
  /
    <div class="row my-3">
    <div class="col-md-6 mx-auto text-center ">
    <haml_silent></haml_silent> |
    <haml_silent>
    </haml_silent>      </div>
    </div>
