<div class="container bg-white border my-5">
  <div class="row mt-4">
    <div class="col-10">
      <h4 class="text-center text-dark">Cosplays</h4>
    </div>
    <div class="col-2 text-right">
      <%= link_to 'New Cosplay', new_costume_path, :class => 'btn btn-primary btn-sm text-light' %>
    </div>
  </div>

  <div class="row mt-4">
    <% @costumes.each do |costume| %>
    <div class="col-md-4 my-2">
      <a href="" class="">
        <div class="card shadow my-3" style=" height: 100px">
          <div class="card-body zoom">
            <h4 class="card-title text-center my-auto"><%= costume.name %></h4>
          </div>
        </div>
      </a>
    </div>
    <% end %>
  </div>


</div>


<!--
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

      <% @costumes.each do |costume| %>
      <tr>
        <td><%#= costume.name %></td>
        <td><%#= costume.desc %></td>
        <td><%#= costume.user.email %></td>

        <td><%#= link_to 'Show', costume %></td>
        <% if can? :modify, costume %>
          <td><%#= link_to 'Edit', edit_costume_path(costume) %></td>
          <td><%#= link_to 'Destroy', costume, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table> -->
