<div class="footer-bg-color p-2">

	<div class="container">
		<hr class="my-0">
	<div class="footer-small">
		<p class="mb-0 text-center">Cosplay © 2020 - All rights reserved | Developed By<a href="http://systemplus.com.pk" target="_blank" > System Plus</a> </p>
	</div>
	</div>
</div>
