.footer-bg-color.p-2
  .container
    %hr.my-0/
    .footer-small
      %p.mb-0.text-center
        Cosplay © 2020 - All rights reserved | Developed By
        %a{:href => "http://systemplus.com.pk", :target => "_blank"} System Plus
