<nav class="navbar navbar-expand-lg navbar-light bg-dark my-2">
  <a class="navbar-brand text-light" href="#">Cosplay</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <%= link_to('Login', new_user_session_path, :class => 'nav-link text-light') if !user_signed_in? %>
      </li>
      <li class="nav-item">
        <%= link_to('Signup', new_user_registration_path, :class => 'nav-link text-light') if !user_signed_in? %>
      </li>
      <li class="nav-item">
        <%= link_to('Logout', destroy_user_session_path, :method => :delete , :class => 'nav-link text-light' ) if user_signed_in? %>
      </li>
    </ul>
  </div>
</nav>
