%nav.navbar.navbar-expand-lg.navbar-light.bg-dark
  %a.navbar-brand.text-light{:href => "#"} Cosplay
  %button.navbar-toggler{"aria-controls" => "navbarNavDropdown", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNavDropdown", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarNavDropdown.collapse.navbar-collapse
    %ul.navbar-nav.ml-auto
      - if user_signed_in?
        %li.nav-item
          = link_to('My Cosplays', costumes_path, :class => 'nav-link text-light')
        %li.nav-item
          = link_to('Logout', destroy_user_session_path, :method => :delete , :class => 'nav-link text-light' )
      - else
        %li.nav-item.active
          = link_to('Login', new_user_session_path, :class => 'nav-link text-light') if !user_signed_in?
        %li.nav-item
          = link_to('Signup', new_user_registration_path, :class => 'nav-link text-light') if !user_signed_in?
